VITE_PAYEE_NAME=Example Payee
VITE_PAYEE_UPI_ID=payee@exampleupi
VITE_UPI_CURRENCY=INR
VITE_UPI_CURRENCY_SYMBOL=₹
VITE_UPI_PAYMENT_NOTE=UPayI payment
VITE_ALLOWED_HOSTS=.ngrok-free.app,.ngrok-free.dev,.ngrok.io
